a:hover{
  background-color:black;
  color:white;
}

body{
    background-color:#DCDCDC;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color:	#A9A9A9;
    border-width: 7px;
    width:100px;

}
h1{
  color:#2F4F4F;
  text-align: left;
  text-shadow: 1px 1px black;
}

h2{
  color:#2F4F4F;
  text-align:left;
}

p{
  line-height: 30px;
}

.profileimg{
  width: 200px;
}

.profileimg:hover{
  border-radius: 50%;
}
